<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Untitled</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="app/assets/stylesheets/style.css">

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <!-- Connect Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
  <!-- Connect Bootstrap JavaScript and its dependencies -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Connect Font Awesome -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>

  <style>
    /* Modify the background color */
    .navbar-custom {
        background-color: black;
    }
    /* Modify brand and text color */
         
    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text {
      color: white;
    }

    .hide {
      display: none;
    }
        
    .icon_info:hover + .hide {
      display: block;
      font-size: 9px;
      color: white;
    }

    .container_image {
      margin-top: 10%;
      width: 50%;
      height: 50%;
      position: relative;
      text-align: center;
      vertical-align: middle;
      color: white;
    }

    /* Bottom left text */
    .top-center {
      position: absolute;
      top: 5px;
      left: 38%;
      font-size: 30px;
      font: var(--bs-font-sans-serif);
      text-align: center;
      color: #F0F0F0;
    }
  </style>

</head>

<body>
  <nav class="navbar navbar-custom">
    <div class="container">
      <a class="navbar-brand" style="margin-left: -180px; color:white;">
          <img width="35" height="35" src="https://img.icons8.com/external-wanicon-two-tone-wanicon/64/external-analysis-business-model-canvas-wanicon-two-tone-wanicon.png" alt="external-analysis-business-model-canvas-wanicon-two-tone-wanicon"/>
              Differential Mean Mapper
      </a>
      <a class="navbar-brand" href="/analyze" style="margin-right: -1170px;">
        <div class="icon_info"><img width="30" height="30" src="https://img.icons8.com/external-flatart-icons-flat-flatarticons/64/external-analysis-digital-marketing-flatart-icons-flat-flatarticons.png" alt="external-analysis-digital-marketing-flatart-icons-flat-flatarticons"/></div>
        <div class="hide">Analyze</div>
      </a>
      <a class="navbar-brand" href="/upload" style="margin-right: -1175px;">
        <div class="icon_info"><img width="30" height="30" src="https://img.icons8.com/external-others-cattaleeya-thongsriphong/64/external-Upload-network-technology-color-line-others-cattaleeya-thongsriphong.png" alt="external-Upload-network-technology-color-line-others-cattaleeya-thongsriphong"/></div>
        <div class="hide">Upload</div>
      </a>
      <a class="navbar-brand" href="/logout" style="margin-right: -1200px;">
        <div class="icon_info"><img width="30" height="30" src="assets/logout.png"></div>
        <div class="hide">Logout</div>
      </a>
      <div class="w3-container" style="margin-right: -180px;">
        <button onclick="document.getElementById('id01').style.display='block'" style="background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden;">
        <div class="icon_info"><img width="30" height="30" src="https://img.icons8.com/external-smashingstocks-flat-smashing-stocks/66/external-Settings-car-service-smashingstocks-flat-smashing-stocks.png" alt="external-Settings-car-service-smashingstocks-flat-smashing-stocks"/></div>
        <div class="hide">Info</div>
        </button>
        <div id="id01" class="w3-modal">
          <div class="w3-modal-content">
            <div class="w3-container">
              <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
              <p></p>
              <h3> Differntial Mean Mapper Application </h3>
              <p>This application serves as a powerful tool for in-depth analysis of Impact Echo and Spectral Analysis of Surface Wave Data collected from various samples at a single location. Its primary objective is to determine the most effective combination of frequencies that yield high-quality data. By meticulously examining the data sets, the application helps researchers and engineers make informed decisions regarding the optimal frequencies to use. Additionally, it assists in the selection of the most suitable payload for future data collection endeavors, enhancing the accuracy and reliability of data-driven decisions in various fields such as construction, geophysics, and materials testing.</p>
              <br>
              <h5>Helpful Resources</h5>
              <ul>
                <li><a href="https://www.linkedin.com/pulse/statistical-significance-tests-way-compare-data-populations/">Statistical Significance Tests</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Kolmogorov%E2%80%93Smirnov_test">Kolmogorov–Smirnov Test</a></li>
              </ul>
              <p>The references mentioned above serve as valuable tools for dataset comparison. Statistical hypothesis testing provides a framework for evaluating the statistical significance of observed differences between datasets, while the Kolmogorov-Smirnov test precisely quantifies the degree of similarity or dissimilarity between two datasets by comparing their cumulative distribution functions.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>


  <div class="row">
    <div class="container_image">
      <img src="assets/thickness.png" alt="Snow">
      <div class="top-center" style="font-size: 23px">Impact Echo Thickness</div>
    </div>
    <div class="container_image">
      <img src="assets/amplitude.png" alt="Snow"">
      <div class="top-center" style="font-size: 23px">Impact Echo Amplitude</div>
    </div>
  </div>
  


</body>
